.header {
    background-color: #404040;
}

.header {
    position: static;
}

.services {
    padding-top: 62px;
    display: flex;
}

.services__info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.info__title {
    font-weight: 700;
    font-size: 54px;
    line-height: 63px;
    color: #E7E7E7;
    margin-bottom: 10px;
}

.info__text {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.info__subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 60px;
}

.tabs__img {
    position: relative;
    border: solid rgba(212, 212, 212, 1) 2px;
}


.upper,
.average,
.lower {
    display: flex;
    width: 1120px;
    justify-content: space-between;

}

.upper,
.average {
    margin-bottom: 20px;
}

.lower {
    margin-bottom: 90px;
}

.services__text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin: 22px 0 0 22px;
}

.services__icon-hint {
    position: absolute;
    right: 6%;
    top: 22px;
}

.services__img {
    margin: 29px 3px 50px 3px;
}

.repair-order {
    background: url(../img/services/XXL\ 1.png) no-repeat;
}

.repair-order-opacity {
    background-color: rgba(0, 0, 0, 0.6);
}

.repair-order-container {}

.repair-order__text {
    display: flex;
    padding-top: 80px;
    justify-content: center;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #fff;
}

.repair-order__Data-input {
    margin-top: 62px;
    display: flex;
}

.Data-input__adding-a-file {}

.adding-a-file__text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color:rgba(255, 255, 255, 1);
    margin-bottom: 32px;
}

.adding-a-file__btn {
    color: white;
    background-color: black;
    border: solid white 2px;
}

.Data-input__call-order {
    display: flex;
    flex-direction: column;
}

.call-order__name {
   

}

.call-order__tel {}

.call-order__btn {
    color: white;
    border: solid white 2px;
    width: 360px;
}