/* font-family: 'Roboto', sans-serif; */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}


.wrapper {
    position: relative;
    min-height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1130px;
    padding: 0px 5px;
    margin: 0 auto;
}

.header {
    position: absolute;
    border-bottom: 2px solid #FFF;
    padding-top: 16px;
    top: 0;
    left: 0;
    width: 100%;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1370px;
    column-gap: 10px;
    text-align: center;
    align-items: center;
}

.logo {
    display: block;
    max-width: 187px;
    min-height: 81px;
}

.nav__list {
    display: flex;
    column-gap: 36px;
}

.nav__item {
    border-bottom: 2px solid transparent;

}

.nav__item.active {
    border-bottom: 2px solid #FFFFFF;
}

.nav__link {
    font-size: 16px;
    line-height: 1.13px;
    color: #FFFFFF;
}

.header__contact {
    display: flex;
    column-gap: 52px;
    align-items: center;
}

.location,
.tel {
    color: #FFFFFF;
    font-style: normal;
    font-size: 16px;
    line-height: 1.13px;
}

.burger {
    position: relative;
    width: 47px;
    height: 39px;
    display: none;
    align-items: center;
}

.burger__el,
.burger__el:before,
.burger__el::after {
    display: block;
    width: 100%;
    height: 5px;
    background: #D9D9D9;
    border-radius: 11px;
}

.burger__el:before,
.burger__el::after {
    content: "";
    position: absolute;
}

.burger__el:before {
    top: 0;
    left: 0;
}

.burger__el::after {
    bottom: 0;
    right: 0;
    width: 83%;
}

.hero {
    height: 100vh;
    background: url(../img/bg/bg.png.png) no-repeat center/cover;
    padding-top: 272px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.hero__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 10;
}

.hero__main {
    flex: 1;
    padding-left: 95px;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.17;
}

.hero .title {
    margin-bottom: 17px;
}

.hero__subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 50px;

}

.hero__btns {
    display: flex;
    column-gap: 20px;
    margin-bottom: 20px;
}

.btn {
    background: none;
    border-radius: 4px;
    text-align: center;
    min-width: 170px;
    padding: 12px 16px;
}

.btn.btn_theme_white {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

.hero__call-to-action span {
    color: #ED7173;

}

.advantages {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    column-gap: 24px;
}

.advantage {
    text-align: center;
    border-radius: 4px;
    padding: 16px 10px;


}

.hero__advantage {
    flex: 0 1 276px;
    border: 2px solid #FFFFFF;

}

.advantage__img {
    margin-bottom: 14px;
    height: 30px;
    width: 30px;
}

.details__title {
    font-weight: 700;
    font-size: 54px;
    line-height: 63px;
    text-align: center;
    color: #E7E7E7;
    padding-top: 62px;
    margin-bottom: 10px;
}

.details__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 123px;
}

.detalis__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 2.55em;
    column-gap: 2.1em;
    align-items: center;

}

.info__object {
    width: 405px;
    position: relative;
}

.info__object::before {
    content: '0';
    position: absolute;
    top: 0;
    left: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 5em;
    line-height: 1.17;
    color: #E7E7E7;
    text-align: center;
}

.benefits {
    background: url(../img/bg/bg.png2.png);
}

.benefits__title {
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 54px;
    line-height: 63px;
}

.benefits__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: white;
    margin: 10px 0 60px 0;
}


.advantage__benefits {
    width: 211px;
    height: 211px;
    background-color: #FFFFFF;
    border-radius: 4px;
}

.benefits__list {
    display: flex;
    column-gap: 10px;
    padding-bottom: 90px;
}

.background {
    background-color: rgba(0, 0, 0, 0.4);
}

.benefits__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #252525;
}

.benefits__img {
    margin: 41px 87.5px 29px 87.5px;
    width: 35px;
    height: 35px;

}








@media (max-width: 960px) {
    .header .location {
        display: none;
    }

    .container {
        max-width: 898px;
    }

    .title {
        font-size: 42px;
    }

    .hero {
        padding-top: 210px;
    }

    .hero__main {
        padding-left: 8.5%;
    }

    .hero__subtitle {
        font-size: 22px;
        margin-bottom: 70xp;
    }

    .logo {
        max-width: 181px;
    }

    .benefits__title {
        padding-top: 45px;
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
    }

    .benefits__subtitle {
        margin: 10px 0 45px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
    }

    .advantage__benefits {
        width: 167px;
        height: 118px;
    }

    .benefits__img {
        margin: 19px 71px 13px 71px;
        width: 25px;
        height: 25px;
    }

    .benefits__desc {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }
    .benefits__list{
        padding-bottom: 60px;
    }
}


@media (max-width: 768px) {
    .header {
        z-index: 10;
    }

    .container {
        max-width: 722px;
    }

    .advantage {
        font-size: 14px;
    }


    .nav {
        display: none;
    }

    .header__contact {
        display: none;
    }

    .burger {
        display: flex;
    }


    .hero:before {
        content: "";
        display: block;
        position: absolute;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 19.11%);
    }

    .logo {
        max-width: 142px;
    }

    .hero {
        padding-top: 170px;
    }

    .advantage__img {
        margin-bottom: 11px;
        height: 24px;
        width: 24px;
    }

    .benefits__title {
        padding-top: 40px;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
    }

    .benefits__subtitle {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 30px;
    }

    .advantage__benefits {
        width: 134px;
        height: 123px;
    }

    .benefits__img {
        margin: 15px 57px 11px 57px;
        width: 20px;
        height: 20px;

    }
    .benefits__list{
        padding-bottom: 50px;
    }

}

@media (max-width: 480px) {
    .container {
        max-width: 95%;
    }

    .header {
        height: 62px;
    }

    .header__container {
        position: relative;
        max-width: 95%;
    }

    .burger {
        width: 29px;
        height: 19px;
        position: absolute;
        right: 0;
        top: 7%;
    }

    .burger__el,
    .burger__el:before,
    .burger__el::after {
        height: 3px;
    }

    .logo {
        max-width: 81px;
        height: 30px;
    }

    .hero {
        padding-top: 120px;
    }

    .hero__main {
        padding-left: 0px;
    }

    .title {
        font-size: 25px;
    }

    .hero .title {
        margin-bottom: 5px;
    }

    .hero__subtitle {
        font-size: 14px;
        margin-bottom: 40px;
    }

    .hero__btns {
        row-gap: 14px;
        flex-wrap: wrap;
    }

    .btn {
        padding: 8px 12px;
        font-size: 12px;
    }

    .btn_theme_white:first-child {
        min-width: 130px;
    }

    .advantages {
        flex-direction: column;
        row-gap: 10px;
        padding: 0;
    }

    .advantage__img {
        width: 22px;
        height: 22px;
        flex-shrink: 0;
        margin-bottom: 0;
    }

    .advantage__img path {
        fill: #000000;
    }

    .hero__advantage {
        flex: 0 1 56px;
        column-gap: 28px;
        display: flex;
        align-items: center;
        color: black;
        background-color: white;
        padding: 17px;
    }

    .benefits__title {
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
    }

    .benefits__subtitle {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }
    .benefits__list{
        flex-direction: column;
    }
    .advantage__benefits{
        width: 100%;
        padding: 0;
        column-gap: 0;
    }
    .benefits__list{
        row-gap: 10px;
        padding-bottom: 40px;
    }
    .benefits__img{
        margin: 17px 19px 17px 17px;
    }




}

@media (max-width: 320px) {
    .container {
        max-width: 300px;
    }
}